#contactBtn{
    background-color: #779e99;
    border-color: #779e99;
    font-family: 'Inter', sans-serif;
    color:black;
}

.advert{
    margin-left: 10%;
    height: 95%;
    width: 90%;
    border-width: 8px;
    border-style: solid;
    border-color: #f2eddb;
}

.contact-display-4{
    color: black;
    font-family: 'Inter', sans-serif;
}

.links-display-4{
    color: black;
    font-family: 'Inter', sans-serif;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .advert{
        display: none;
    }

    #contactBtn{
        background-color: #779e99;
        border-color: #779e99;
        font-family: 'Inter', sans-serif;
        color:black;
    }
    
  
  } 

  @media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 


    #contactBtn{
        background-color: #779e99;
        border-color: #779e99;
        font-family: 'Inter', sans-serif;
        color:black;
    }
    
  
  } 
