.btn{
    font-family: 'Special Elite', cursive;
    background-color: #6dc6cc;
}

.advert{
    margin-left: 10%;
    height: 95%;
    width: 90%;
    border-width: 8px;
    border-style: solid;
    border-color: #f2eddb;
}

.contact-display-4{
    color: black;
    font-family: 'Special Elite', cursive;
}

.links-display-4{
    color: black;
    font-family: 'Special Elite', cursive;
}
