.caption{
    background-color: #303030;
    margin-left: -8.2vw;
    margin-top: -15vh;
    width: 100%; 
}

.pictitle{
    color: #6dc4ca;
  }

.description {
    width: 90%;
    padding-left: 10%;
    bottom: auto;
}

.image{
    width: 100%;
    height: 100%;
    padding-bottom: 17vh;
}

#divInfo{
    font-family: 'Inter', sans-serif;
   }

   @media only screen 
   and (min-device-width: 320px) 
   and (max-device-width: 480px)
   and (-webkit-min-device-pixel-ratio: 2)
   and (orientation: portrait) { 

    .carousel-caption{
        width: 100%;
        font-size: x-small;

    }
    .caption{
        background-color: #303030;
        margin-bottom: 0vh;
        margin-left: -14.5vw;
    }

    #divInfo{
        font-family: 'Inter', sans-serif;
       }
     
       .fa-github{
        color: #e16538;
        font-size: 2vh;
        text-decoration: none;
    }
    
    .fa-github:hover {
        color: #6dc4ca;
        text-decoration: none;
    }
   
   } 
   
@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 

    .carousel-caption{
        width: 100%;
        font-size: 18px;

    }
    .caption{
        background-color: #303030;
        margin-bottom: 4vh;
        margin-left: -13vw;
    }

    #divInfo{
        font-family: 'Inter', sans-serif;
       }
     
       .fa-github{
        color: #e16538;
        font-size: 3vh;
        text-decoration: none;
    }
    
    .fa-github:hover {
        color: #6dc4ca;
        text-decoration: none;
    }

} 
