.container-text{
    padding: 35px;
}

.display-4{
    font-family: 'Special Elite', cursive;
}

.RachelKenney{
    height: 37vh;
    width: 20vw;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .RachelKenney{
        height: 15vh;
        width: 35vw;
    }

    .container-text{
        padding: 2%;
    }
    
  
  } 
  


