.container-text{
    padding: 35px;
}

.display-4{
    font-family: 'Inter', sans-serif;
}

.RachelKenney{
    margin-top: 5vh;
    margin-left: 3vh;
    height: 30%;
    width: 30%;
}

.lead{
    font-weight: 400;
}

.card-img-top{
    height: 65vh;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .RachelKenney{
        height: 40%;
        width: 40%;
    }

    .container-text{
        padding: 2%;
    }
    
  
  } 

  @media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .RachelKenney{
        height: 40%;
        width: 40%;
    }

    .container-text{
        padding: 2%;
    }
    
  
  } 

  @media only screen 
  and (min-device-width: 1250px) 
  and (max-device-width: 1400px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
    .RachelKenney{
        width: 40%;
    }

    .container-text{
        padding: 2%;
    }
    
  
  } 
  


