.jumbotron{
    padding: 0px;
    height: 1050px;
    width: 780px;
    padding-top: 0px;
    background-color: #fadec3;
    margin-top: 25px;
    margin-left: 21%;
    font-family: 'Special Elite', cursive;
    border-style: solid;
    flex-basis: auto;
    
}

.container-text{
    padding: 35px;

}

.display-4{
    font-family: 'Special Elite', cursive;
}

.RachelKenney{
    height: 210px;
    width: 220px;
}

