.jumbotron{
    padding: 0px;
    height: 1050px;
    width: 780px;
    padding-top: 0px;
    background-color: #efdfc8;
    margin-top: 25px;
    margin-left: 21%;
    font-family: 'Special Elite', cursive;
    border-style: solid;
    flex-basis: auto;
    
}

.card-img-top{
    margin-left: 2%;
    height: 40%;
    width: 50%;
}

hr {
    width: 100%;
    height: 2px;
    margin-left: 0px;
    margin-right: 10px;
    background-color:#000;
    border: 0 none;
    margin-top: 0px;
    margin-bottom:5px;
}

