.my-4 { position:relative; }

.caption {
    background-color: #303030;
    bottom:0;
    left:0;
    position:absolute;
    width: 100%; 
    /* height: 28%; */
}
.carousel-control-next, .carousel-control-prev {
    z-index:11;
}
.jumbotron-body .carousel-control-next-icon, .jumbotron-body .carousel-control-prev-icon {
    background-color: rgba(0, 0, 0, .5);
    padding: 16px;
    box-sizing: content-box;
    border-radius: 50%;
    background-size: 60% 60%;
}

.pictitle{
    color: #6dc4ca;
  }

.title{
    color: #6dc4ca;
  }

.title:hover {
    color: #6dc4ca;
  }

.fa-github{
    color: #e16538;
    font-size: 4vh;
    text-decoration: none;
}

.fa-github:hover {
    color: #6dc4ca;
    text-decoration: none;
}

.description {
    width: 90%;
    padding-left: 10%;
    bottom: auto;
}

.image{
    width: 100%;
    height: 100%;
    margin-bottom: 6vh;
}

#divInfo{
    font-family: 'Special Elite', cursive;
   }

   @media only screen 
   and (min-device-width: 320px) 
   and (max-device-width: 480px)
   and (-webkit-min-device-pixel-ratio: 2)
   and (orientation: portrait) { 

    .carousel-caption{
        width: 100%;
        font-size: x-small;

    }
    .caption{
        background-color: #303030;
        margin-bottom: 0vh;
        margin-left: -14.5vw;
    }

    #divInfo{
        font-family: 'Special Elite', cursive;
       }
     
       .fa-github{
        color: #e16538;
        font-size: 2vh;
        text-decoration: none;
    }
    
    .fa-github:hover {
        color: #6dc4ca;
        text-decoration: none;
    }
    
    .image{
        width: 100%;
        height: 100%;
        margin-bottom: -2vh;
    }
   
   } 
   