body {
  background-size: 100% 100%;
  background-color: #303030;
  font-family: 'Special Elite', cursive;
 }

 .jumbotron{
  padding: 0px;
  height: 90%;
  width: 60%;
  padding-top: 0px;
  background-color: #fadec3;
  margin-top: 5%;
  margin-left: 19%;
  font-family: 'Special Elite', cursive;
  border-style: solid;
  flex-basis: auto;
  position: static;
  margin-bottom: 5%;
  box-shadow: -25px -25px 25px -25px rgba(1, 1, 1, 1);
}

.card-img-top{
  margin-left: 0px;
  width: 100%;
  margin-bottom: 0px;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom:.2rem;
  border-color: #000;
  border-style:solid; 
}

hr {
  width: 100%;
  margin-left: 0px;
  margin-right: 10px;
  background-color:#000;
  border: 0 none;
  border-width: 2rem;
  margin-top: 0px;
  margin-bottom:5px;
}

@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 

    body {
      background-size: 100% 100%;
      background-color: #303030;
      font-family: 'Special Elite', cursive;
     }

  .jumbotron{
    padding: 0px;
    height: 50%;
    width: 100%;
    padding-top: 0px;
    background-color: #fadec3;
    margin-left: 0%;
    font-family: 'Special Elite', cursive;
    font-size: small;
    border-style: solid;
    flex-basis: auto;
  }

  .card-img-top{
    margin-left: 0px;
    height: 20%;
    width: 100%;
    margin-bottom: 0px;
  }

} 

@media only screen 
and (min-device-width: 768px) 
and (max-device-width: 1366px)
and (-webkit-min-device-pixel-ratio: 2)
and (orientation: portrait) { 
  .RachelKenney{
      height: 11vh;
      width: 16vw;
  }

  .container-text{
      padding: 2%;
  }

  .card-img-top{
    margin-left: 0px;
    height: 30%;
    width: 100%;
    margin-bottom: 0px;
  }

  .jumbotron{
    padding: 0px;
    height: 50%;
    width: 90%;
    padding-top: 0px;
    background-color: #fadec3;
    margin-left: 5%;
    font-family: 'Special Elite', cursive;
    font-size: 18px;
    border-style: solid;
    flex-basis: auto;
  }

} 
